* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(180, 180, 180);
  color: black;
}

/* Menu */
.site-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.site-title {
  margin-bottom: 10px;
  font-size: 2em;
}

main {
    margin: 5px;
}

.main-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-nav .nav-item {
  margin: 0 15px;
}

.main-nav .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.main-nav .nav-link:houver {
  color: #4b4b4b;
}

/* personalização itens */

.itens-img {
  height: 500px;
  width: 500px;
  padding: 20px;
  display: block;
  margin: auto;
}

.itens-texto {
  text-align: center;
  padding: 20px;
}

.site-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact-info {
  margin-bottom: 5px;

}

.author-name,
.autor-email {
  margin-bottom: 5px;
}

.email-link {
  color: #1e90ff;
  text-decoration: none;
  transition: color 0.3s;
}

.email-link:hover {
  color: #fff;
}

.footer-copy {
  font-size: 0.9em;
  color: #ccc;
}


.menu-home {
  background-color: #e42323;
  color: white;
  display: flex;
  align-items: center;
  height: 90px;
  margin: 0;
  padding: 10px 20px;
}
.menu-home nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
}

.menu-home nav ul li {
  margin-right: 15px;
}

.menu-home nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
}

.principaisNoticias {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
  }
  
  .principaisNoticias h2 {
    color: #030303; 
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #308640;
    display: inline-block;
    padding-bottom: 10px;
  }
  
  .principaisNoticias article {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #cacaca;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .principaisNoticias article p {
    color: #000000;
    font-size: 16px;
<<<<<<< Updated upstream
  }

.img-cafeteria {
    width: 50%;
    height: 50%;
    border-radius: 8px;
=======
    margin: 10px;
    color: #494242;
>>>>>>> Stashed changes
}